.register-title {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    margin:auto;
    margin-top: 2rem;
    /* border-style:solid; */
    border-radius: 5px;
    padding-bottom: 100px;
    align-items: center;
  }

.user-name {
    padding-top: 30px;
}

.pass-word {
    padding-top: .5rem;
}

.register-button {
    width: 100%;
    margin:auto;
    margin-top: 1.25rem
}